body{
	background-color: #fff;
	padding-bottom: 1.24rem;
}
a{
	border: none;
	outline: none;
	-webkit-tap-highlight-color:transparent;
	text-decoration: none;
}
.header span{
	font-weight:300;
} 
.top{
	width: 6.4rem;
	padding-top: 0.16rem;
	padding-bottom: 0.24rem;
}
.top-left{
	float: left;
	margin-left: 0.38rem;
}
.top-left img{
	display: block;
	width: 1.5rem;
}
.top-right{
	float: left;
	margin-left: 0.5rem;
}
.top-right span{
	color: #333;
	width: 2.8rem;
	display: block;
	font-size: 0.28rem;
	line-height: 0.6rem;
	font-weight: 400;
	margin-top: 0.45rem;
	border-bottom:1px dashed #ccc;
}
.content{
	width: 5.24rem;
	margin: 0 auto;
	padding: 0.14rem 0.1rem 0.28rem 0.1rem;
	line-height: 0.38rem;
	text-align: left;
	color: #333;
	font-size: 0.2rem;
	border: 1px dashed #ccc;
}