	.header{
		width: 6.21rem;
		text-align: center;
		font-size: 0.28rem;
		color: #fff;
		line-height: 0.88rem;		
		padding-left: 0.19rem;			
		background-color: #50bbdb;	
		margin-bottom: 0;		
	}
	a{
			border: none;
			outline: none;
			-webkit-tap-highlight-color:transparent;
			text-decoration: none;
		}
	.header>a{
		display: block;
		float: left;	
		position: absolute;
    	top: 0.19rem;
	}

	.header>a>img{
		width: 0.43rem;
		display: block;
	}


	.main{
		margin:0.2rem 0.15rem 0 0.15rem;
	}

	.main>div{
		border-radius: 0.13rem;
    	background: #fff;
		margin-top:0.2rem;
		padding: 0.2rem 0;
	}

	.title{
		font-size: 0.24rem;
		color: #333;
		padding: 0.1rem;
    	line-height: 0.44rem;
    	position: relative;
    	border-bottom: 1px solid #dcdcdc;
    	background-color: #fff;
	}

	.main>div>h3{
		color: #333;
		font-size: 0.24rem;
		border-left: 4px solid #50bbdb;
		padding-left: 0.2rem;
    	margin-left: 0.13rem;
    	margin-bottom: 0.1rem;
	}

	.content{
		border-top: 1px solid #dcdcdc;
		padding-left: 0.38rem;
		
		padding-right: 0.29rem;
	}

	.content>p{
		line-height: 0.36rem;
		border-bottom: 1px solid #dcdcdc;
		font-size: 0.2rem;
	}

.content>p>a{
		float: right;
		display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 0.76rem;
    text-align: center;
    color: #50bbdb;
    font-size: 0.2rem;
}

	.main>.line:first-child>.content>p{
		border-bottom: none;
	}

	.main>.line:nth-child(3)>h3>a{
		float: right;
	    color: #50bbdb;
	    font-size: 0.2rem;
	    margin-right: 0.3rem;
	}

	.main>.line:nth-child(3) p{
		padding-bottom: 0.1rem;
		padding-top: 0.1rem;
	}

	.main>.line:nth-child(3) p img{
		width: 0.3rem;
		margin-bottom: -0.1rem;
		margin-right: 0.1rem;
	}

	.main>.line:nth-child(3)>.content>a{
		width: 0.37rem;
		margin: 0 auto;
    	display: block;
    	margin-top: 0.2rem;
	}

	.line .top1{
		padding-top: 0.13rem;
    	padding-bottom: 0.24rem;
    	border-bottom: 1px solid #ccc;
    	position: relative;
	}

	.line .top1:last-child{
		border-bottom: none;
	}

	.line .top1>p{
		font-size: 0.2rem;
		float: left;
	}

	.line .top1 .price{
		float: right;
	}

	.pic{
		width: 0.42rem;
		float: left;
	}

	.line .top1 img{
		width: 0.29rem;
		float: left;
		margin-top: 0.1rem;
	}

	.line .top1 img:nth-child(2){
		width: 0.21rem;
		margin-top: 0.12rem;
		display: none;
	}

	.line .top1 .price span{
		display: block;
		color: #666;
		font-size: 0.18rem;
	}

	.line .top1 .price>span:first-child{
		float: right;
	}

	.line .top1 .price>span:nth-child(2)>span{
		display: inline;
		color: #f98d0d;
	}

	body>p{
		color: #333;
		font-size: 0.18rem;
		text-align: center;
		line-height: 0.6rem;
	}

	.footer{
		background-color: #fff;
		width: 6.0rem;
		padding: 0.17rem 0.2rem;
	}

	.footer>p{
		color: #f0851a;
		font-size: 0.24rem;
		float: left;
		font-weight: bolder;
		margin-top: 0.2rem;
	}

	.footer>a{
		display: block;
		float: left;
		color: #fff;
		background-color: #50bbdb;
		padding: 0.2rem 0.44rem;
		border-radius: 10px;
		margin-left: 2rem;
		font-size: 0.24rem;
	}

	.main>.line:nth-child(3) .slide{
		display: none;
	}


