html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    .clearfix:before,
    .clearfix:after {
                        content: "";
                        display: block;
                        clear: both;
                        visibility: hidden;
                        line-height: 0;
                        height: 0;
                        font-size:0;
}
.clearfix { *zoom:1;}
li{
    list-style: none;
}
a{
    border: none;
    outline: none;
    -webkit-tap-highlight-color:transparent;
    text-decoration: none;
}
input,button{
    outline: none;
}
body,html{
    font-size: 18px;
}
.nav{
    width: 6.09rem;
    padding: 0.17rem 0.15rem 0.14rem 0.16rem;
    background-color: #50bbdb;
} 
.nav .location{
    float: left;
}
.nav .location img{
    width: 0.56rem;
    margin-top: 0.17rem;
    display: block;
    float: left;
}
.nav .location span{
    color:#fff;
    font-size:0.18rem;
    float: left;
    line-height: 0.88rem;
    margin-left: 0.07rem;
    margin-right: 0.07rem;
}
.nav .driving{
    width: 1.68rem;
    border: 1px solid #fff;
    border-radius: 4px 0 0 4px;
    color:#50bbdb;
    margin-top: 0.24rem;
    font-size: 0.26rem;
    background-color: #fff;
    background-image: url('../images/drivingDown_03.png');
    background-repeat: no-repeat;
    background-position: 1.57rem 0.23rem;
    float: left;
    line-height: 0.35rem;
    text-align: center;
}
.driving-active{
    width: 1.68rem;
    border-radius: 4px 0 0 4px;
    border: 1px solid #fff;
    color:#fff;
    margin-top: 0.24rem;
    font-size: 0.26rem;
    float: left;
    line-height: 0.35rem;
    text-align: center;
    background-color:#50bbdb;
}
.nav .interact{
    width: 1.68rem;
    border: 1px solid #fff;
    border-radius: 0 4px 4px 0;
    color:#fff;
    margin-top: 0.24rem;
    font-size: 0.26rem;
    line-height: 0.35rem;
    text-align: center;
    background-color:#50bbdb;
    float: left;
}
.interact-active{
    width: 1.68rem;
    border-radius: 0 4px 4px 0;
    color:#50bbdb;
    border: 1px solid #fff;
    margin-top: 0.24rem;
    font-size: 0.26rem;
    background-color: #fff;
    background-image: url('../images/drivingDown_03.png');
    background-repeat: no-repeat;
    background-position: 1.57rem 0.23rem;
    float: left;
    line-height: 0.35rem;
    text-align: center; 
}
.nav .camera{
    float:right;
}
.nav .camera img{
    width: 0.56rem;
    margin-top: 0.17rem;
    display: block;
}