.banner{
    width: 6.4rem;
    position: relative;
}
.banner>img{
    display: block;
    height: 2.25rem;
    width: 6.4rem;
}
.banner input{
    width:3.7rem;
    margin-left:20%;
    border: 1px solid #50bbdb;
    border-radius: 4px;
    padding: 0.09rem 0.18rem 0.09rem 0.1rem;
    position: absolute;
    left: 0;
    font-size:20px;
    top: 0.12rem;
    outline: none;
}
.banner>a{
    display: block;
    position: absolute;
    top: 0.2rem;
    right: 1.3rem;
}
.banner>a>img{
    display: block;
    width: 0.26rem;
}
.banner .point{
    width: 1.28rem;
    margin-top: 1.27rem;
    position: absolute;
    left:2.5rem;
    bottom: 0.13rem;
}
.banner .point a{
    width: 0.28rem;
    height: 0.28rem;
    border-radius: 50%;
    background-color: #ccc;
    float: left;
    margin-right:0.22rem;
}
.banner .point .point1{
    background-color: #50bbdb;
}
.banner .point .point3{
    margin-right: 0;
}
.area{
    width:6.4rem;
    background-color: #fff;
    padding: 0.34rem 0;
}
.area a{
    width: 1.19rem;
    line-height: 1.25rem;
    text-align: center;
    background-color: #fff;
    color: #ccc;
    border:3px solid #ccc;
    font-size: 0.28rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    float: left;
}
.area .allarea{
  border:3px solid #50bbdb;
  color: #50bbdb;  
  margin-left: 0.86rem;
}
.area .overseas{
    margin-right:0;
}
.content>div{
    width: 6.21rem;
    margin: 0 auto;
    margin-bottom: 0.1rem;
    background-image: url('../images/泸沽湖.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.content .luguhu{
   background-image: url('../images/泸沽湖.jpg'); 
}
.content .guangdong{
    background-repeat: no-repeat;
    background-size: cover;
   background-image: url('../images/广东.png'); 
}
.content .aozhou{
   background-image: url('../images/澳洲.jpg'); 
}
.content .jiazhou{
   background-image: url('../images/加州.jpg'); 
}
.content .beijiaer{
   background-image: url('../images/贝加尔湖.jpg'); 
}
.content .areaName{
    width: 5.98rem;
    color: #fff;
    font-weight: 200;
    padding-left: 0.23rem;
    font-size: 0.24rem;
    line-height:0.48rem;
    background:rgba(0,0,0,0.4);
}
.content .way{
    width: 5.98rem;
    color: #fff;
    font-weight: 200;
    padding-left: 0.23rem;
    font-size: 0.2rem;
    line-height:0.28rem;
    background:rgba(0,0,0,0.4);
    margin-top: 1.2rem;  
}
.content .price{
    width: 0.9rem;
    height: 0.78rem;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #f0884d; 
    padding-top: 0.16rem;
    position: absolute;
    right: 0;
    text-align: center;
    bottom:-0.56rem;
}
.content .price span{
    color: #fff;
    font-size:0.12rem;
}
.content .price span i{
    font-style:normal;
    font-size:0.21rem;
}
.load{
    width: 6.4rem;
    line-height: 0.7rem;
    margin-bottom: 0.95rem;
    text-align: center;
    background-color: #f1f1f1;
}
.load .upload{
    width: 1.2rem;
    margin: 0 auto;
}
.load .upload span{
    font-size: 0.2rem;
    color:#6e6e6e;
    float: left;
}
.load .upload img{
    display: block;
    float: right;
    width: 0.26rem; 
    margin-top: 0.23rem;     
}
.moreDown{
    display: none;
}
