	.header{
		width: 6.21rem;
		text-align: center;
		font-size: 0.28rem;
		color: #fff;
		line-height: 0.88rem;		
		padding-left: 0.19rem;			
		background-color: #50bbdb;	
		margin-bottom: 0;		
	}

	.header>a{
		display: block;
		float: left;	
	}

	.header>a>img{
		width: 0.43rem;
		position: absolute;
    	top: 0.19rem;
	}

	.header>a:last-child>img{
		width: 0.51rem;
		right: 0.17rem;
	}

	body>div{
		background-color: #fff;
	}

	.title{
		font-size: 0.24rem;
		color: #333;
		padding-right: 1.1rem;
    	line-height: 0.44rem;
    	position: relative;
    	padding-top: 0.1rem;
    	padding-bottom: 0.1rem;
    	border-bottom: 1px solid #dcdcdc;
	}

	.title>img{
		position: absolute;
	    right: 0.17rem;
	    top: 0.4rem;
	}

	.main>div{
		padding: 0.24rem 0 0.24rem 0.49rem;
		border-bottom: 1px solid #dcdcdc;
	}

	.main>div:nth-child(3){
		padding-left: 3rem;
	}

	.main>div>p{
		line-height: 0.45rem;
		color: #333;
		font-size: 0.2rem;
	}

	.main>div:nth-child(2)>span{
		margin-right: 0.72rem;
		font-size: 0.2rem;
	}

	.main>div:nth-child(4)>p>span{
		float: right;
		padding-right: 0.3rem;
	}

	.information>h3{
		color: #333;
		font-size: 0.24rem;
		border-left: 4px solid #50bbdb;
		padding-left: 0.19rem;
		margin-bottom: 0.18rem;
		margin-left: -0.25rem;
	}


