html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    .clearfix:before,
    .clearfix:after {
                        content: "";
                        display: block;
                        clear: both;
                        visibility: hidden;
                        line-height: 0;
                        height: 0;
                        font-size:0;
}
.clearfix { *zoom:1;}
li{
    list-style: none;
}
a{
			border: none;
			outline: none;
			-webkit-tap-highlight-color:transparent;
			text-decoration: none;
		}
body,html{
    font-size: 18px;
    background-color: #f1f1f1;
}
.nav{
	width: 6.4rem;
	padding: 0.16rem 0;
	background-color: #50bbdb;
	margin-bottom: 0.03rem;
}
.nav a{
	display: block;
	float: left;
	margin-left: 0.29rem;
}
.nav a img{
	display: block;
	width: 0.28rem;
}
.nav .text{
	float: left;
	width:3rem;
	margin-left: 1.18rem;
	text-align: center;
}
.nav .text h1{
	font-style: normal;
	font-size: 0.28rem;
	color: #fff;
	font-weight: 400;
}
.nav .text span{
	color: #fff;
	font-size: 0.18rem;
}
.nav .point{
	float: right;
	margin-top: 0.23rem;
	margin-right: 0.05rem;
}
.nav .point>div{
	width: 0.12rem;
	height: 0.12rem;
	border-radius: 50%;
	background-color: #fff;
	margin-right:0.08rem;
	float: left;
}
.content{
	width: 6.4rem;
	margin-bottom: 1.1rem;
}
.content>div{
	width: 6.4rem;
	margin-bottom: 0.17rem;
	background-color: #fff;
}
.content>div .left{
	width: 1.8rem;
	padding-top: 1.37rem;
	background-image: url('../images/aershan_03.png');
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
}
.content .haitianfoguo .left{
	background-image: url('../images/haitianfoguo_02.png');
}
.content .guangxi .left{
	background-image: url('../images/guangxi_03.png');
}
.content .mingsu .left{
	background-image: url('../images/mingsu_03.png');
}
.content .mingsu{
	margin-bottom: 0;
}
.content>div .left .time{
	width: 1.8rem;
	line-height: 0.31rem;
	text-align: center;
	background-color:rgba(0,0,0,0.4);
}
.content>div .left .time span{
	font-size: 0.2rem;
	color: #fff;
}
.content>div .right{
	width: 4.38rem;
	float: left;
	text-align: left;
	margin-left: 0.13rem;
}
.content>div .right h2{
	color: #333;
	line-height: 0.46rem;
	font-size: 0.24rem;
}
.content>div .right .way{
	color: #333;
	line-height: 0.39rem;
	font-size: 0.24rem;
}
.content>div .right .intro{
	color: #999;
	line-height: 0.36rem;
	font-size: 0.2rem;
} 
.content>div .right .base{
	width: 4.38rem;
	padding: 0.05rem 0;
}
.content>div .right .base .logo{
	float: left;
}
.content>div .right .base .logo img{
	display: block;
	width: 0.32rem;
	float: left;
}
.content>div .right .base h3{
	font-size: 0.18rem;
	color: #666;
	float: left;
	margin-left: 0.07rem;
	margin-top: 0.04rem;
	line-height: 0.33rem;
	font-weight: 400;
}
.content>div .right .base .price{
	float: right;
	margin-top: 0.04rem;
	color: #EA571D;
}
.content>div .right .base .price span{
	font-size: 0.18rem;
}
.content>div .right .base .price span i{
	font-style: normal;
	font-size: 0.3rem;
}
.footer{
	width: 6.4rem;
	padding: 0.11rem 0;
	margin-top: 0.01rem;
	background-color: #fff;
	border-top: 1px solid #ccc;
	position: fixed;
	bottom: 0;
}
.footer ul li{
	width: 0.88rem;
	float: left;
	text-align: center;
	margin-left: 0.72rem;
}
.footer ul li span{
	font-size: 0.2rem;
	font-weight: 500;
	color: #363636;
}
.footer ul li:nth-child(1) span{
	color: #50BBDB;
}
.footer ul li img{
	display: block;
	width: 0.52rem;
	margin-left: 0.15rem;
	margin-bottom: 0.08rem;
}
.footer ul li:nth-child(1){
	margin-left: 0.23rem;
}
.footer ul li:nth-child(4){
	margin-right: 0.48rem;
}
.mask{
	display: none;
	width: 6.4rem;
	background-color: #fff;
	position:fixed;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.4);
	position: relative;
}
.mask .masking{
	width: 6.4rem;
	position: absolute;
	bottom: 0;
}
.mask .masking .mask-top{
	width: 5.97rem;
	line-height: 0.58rem;
	padding: 0 0.13rem 0 0.3rem;
	background-color: #50bbdb;
}
.mask .masking .mask-top a{
	display: block;
	color: #ebebeb;
	font-size: 0.24rem;
	float: left;
}
.mask .masking .mask-top a:nth-child(2){
	margin-left: 1.98rem;
	margin-right: 1.98rem;
}
.mask .masking .mask-top a:last-child{
	color: #fff;
}
.mask .masking .choose{
	width: 6.4rem;
	background-color: #fff;
}
.mask .masking .choose .left{
	float: left;
	background-color: #ebebeb;
	padding-bottom: 0.64rem;
}
.mask .masking .choose .right{
	float: left;
	margin-left: 0.18rem;
}
.mask .masking .choose .left ul li{
	padding-left: 0.3rem;
	padding-right: 0.72rem;
	line-height: 0.58rem;
	font-size: 0.24rem;
	text-align:left;
	margin-top: -0.01rem;
	background-color: #ebebeb;
}
.mask .masking .choose .left ul li a{
	color: #333;
}
.mask .masking .choose .left ul li:first-child a{
	color:  #50bbdb;
}
.mask .masking .choose .left ul li:first-child{
	background-color: #fff;
	color:  #50bbdb;	
	margin-top: 0;
}
/* .mask .masking .choose .left ul li:last-child{
	padding-bottom: 0.64rem;
} */
.mask .masking .choose .right ul li{
	width: 4.12rem;
	font-size: 0.24rem;
	background-color: #fff;
	text-align:left;
	line-height: 0.58rem;
	border-bottom: 1px solid #ccc;
}
.mask .masking .choose .right ul li:first-child a{
	color:  #50bbdb;
}
.mask .masking .choose .right ul li:last-child{
	border: 0;
}
.mask .masking .choose .right ul li a{
	float: left;
	margin-left: 0.62rem;
	color: #333;
}
.mask .masking .choose .right ul li img{
	display: block;
	float: right;
	margin-top: 0.11rem;
	margin-right: 0.05rem;
}