	.header{
		
		text-align: center;
		font-size: 0.28rem;
		color: #fff;
		line-height: 0.88rem;		
		padding-left: 0.19rem;
		padding-right: 0.22rem;			
		background-color: #50bbdb;	
		margin-bottom: 0;		
	}

	.header>a{
		display: block;
		float: left;	
	}

	.header>a:last-child{
		font-size: 0.2rem;
		float: right;
		color: #fff;
	}

	.header>a>img{
		position: absolute;
    	top: 0.19rem;
    	width: 0.43rem;
	}

	body>div:nth-child(2){
		background-color: #fff;
		padding-left: 0.16rem;
		padding-right: 0.21rem;
	}

	.content{
		border-bottom: 1px solid #ccc;
		padding: 0.16rem 0 0.16rem 0.38rem;
		position: relative;
	}

	.content:nth-child(3){
		border-bottom: none;
	}

	.content>span{
		font-size: 0.22rem;
		color: #333;
	}

	.content>span:nth-child(3){
		color: #ccc;
		margin-left: 1.46rem;
	}

	.content:nth-child(2) span{
		float: left;
	}

	.content select{
		margin-left: 1rem;
	    font-size: 0.18rem;
	    outline: none;
	    border: none;
	    border-bottom: 1px solid #666;
	    width: 65%;
	    /*将默认的select选择框样式清除*/
	    appearance:none;
	    -moz-appearance:none;
		-webkit-appearance:none;
		/*在选择框的右下角显示小箭头图片*/
		background: url("../images/jiaobiao_01.png") no-repeat scroll right bottom;
	}

	.content:nth-child(2) span:nth-child(2) img{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0.28rem;
	}

	.content input{
		width: 65%;
	    border: none;
	    text-align: left;
	    outline: none;
	    font-size: 0.18rem;
	  	margin-left: 1.44rem;
	}

	.content .prompt{
		position: absolute;
	    right: 1.2rem;
	    top: 0.04rem;
	    color: red;
	    font-size: 0.16rem;
	}